.card {
    width: 480px;
    height: 360px;
    background-image: url(img/card.jpg);
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 25px;
}

.signature {
    position: relative;
    top: 20px;
    right: 30px;
    width: 450px;
    height: 35px;
    background-color: rgb(138, 159, 159);
}

.signature p {
    text-transform: uppercase;
    font-size: 20px;
    color: black;
    text-align: center;
}

form {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 170px;

}

label {
    color: white;
    position: relative;
    bottom: 15px;
    left: 90px;
    font-size: 15px;
}

input {
    border: none;
    outline: none;
    background-color: grey;
    border-bottom: 1px solid white;

}

/*label,input{
    display: block;
    
}*/
::placeholder {
    color: black;
}

#mini_input {
    width: 40px;
    font-size: 12px;
}

.style {

    display: flex;
}